.content-section-a {
    padding: 50px 0 0 0;
    background-color: #f8f8f8;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
		
@media screen and (max-width: 1024px){
    img.bg {
        left: 50%;
        margin-left: -512px; }
}

.content {
    width: 300px;
    background: white;
    border: 1px solid #e1e8ed;
    padding: 5px;
    margin-top: 140px; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    z-index: 300;
    position: relative;
}

.form-signin{
    margin: 12px 6px 6px 6px;
}

.form-signin .forgot{
    margin-bottom: 10px;
    margin-top: 10px;
}